table .no-results {
    height: 10em;
}

table .no-results span {
    font-size: 1.75em;
}

table .no-results .no-results-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
